.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 1em;
}

.footer > p{
    letter-spacing: -1px;
}

.footer > section{
    display: flex;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

.footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.footer a {
    gap: 1em;
    transition: 0.2s ease;
}

.footer a:hover{
    scale: 1.05;
    transform-origin: center;
}
