
.background {
    z-index: -10;
    width: 100vw;
    min-height: 100vh;
    background-color: #010101;
    position: absolute;
}

.bgHero {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
}

.gridObject {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSun, .heroMountainOne, .heroMountainTwo {
    grid-row: 3;
}

.heroSun {
    grid-column: 3;
}

.heroMountainOne {
    grid-column: 2;
}

.heroMountainTwo {
    grid-column: 4;
}

.heroMountainOverlap, .heroMountainOverlapTwo {
    grid-row: 4;
    grid-column: 3;
}

.heroMountainOne::before, .heroMountainTwo::before, .heroMountainOverlap::before, .heroMountainOverlapTwo::before {
    content: "";
    position: absolute;
    width: 500%;
    overflow: visible;
    z-index: 2;
}

.heroSun::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 150%;
    aspect-ratio: 1;
    overflow: visible;
    border-radius: 100%;
    box-shadow: 0px 0px 200px 10px rgba(255, 255, 255, .3);
    z-index: -5;
}

.heroMountainOne::before, .heroMountainTwo::before, .heroMountainOverlap::before, .heroMountainOverlapTwo::before {
    background: #010101;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.heroMountainOne::before {
    top: -25%;
    height: 300%;
    left: -250%;
    background: linear-gradient(230deg, #111111 0%, #010101 55%);
}

.heroMountainTwo::before {
    top: -25%;
    height: 300%;
    right: -250%;
    background: linear-gradient(165deg, #111111 0%, #010101 55%);

}

.heroMountainOverlap::before {
    top: -15%;
    left: -125%;
    width: 400%;
    height: 250%;
    background: linear-gradient(165deg, #212121 0%, #010101 65%);
}

.heroMountainOverlapTwo::before {
    left: -160%; /* was -150*/
    top: -35%;
    width: 350%;
    height: 275%;
    background: linear-gradient(190deg, rgb(29, 29, 29) 0%, #010101 60%);
    backdrop-filter: blur(10px);
}

/* ABOUTME */

.bgAboutMe{
    width: 100vw;
    height: 100vh;
    background-color: #010101;

}

/* Imagine section */

.bgImagine{
    background-color: transparent;
    height: 100vh;
    width: auto;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    /* static pulls back from the pos: relative from .gridObject, might need refactoring */

    
}
/* .bgimage is being set along with .bgHero */

/* .imagineSun {
    grid-column: 5;
    grid-row: 5;
}


.imagineSun::after{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 255);
    width: 100%;
    aspect-ratio: 1;
    overflow: visible;
    border-radius: 100%;
    box-shadow: 0px 0px 200px 20px rgba(255, 255, 255, .2);
    z-index: 0;
} */